<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaowaiQuestions.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
				<key>dateExpires</key>
				<string>2/19/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Gallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MOLH.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Pushy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44764D5943B004BF1B72970EB423F1ACADA3F841</string>
						<key>dateExpires</key>
						<string>2/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZKProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X2PL288BYD</string>
						<key>name</key>
						<string>Maro Global Information Technology Co., Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X2PL288BYD.c.mosci.news</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X2PL288BYD</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>X2PL288BYD.c.mosci.news</string>
				</array>
			</dict>
			<key>name</key>
			<string>LaowaiQuestions.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c33d1d47-7af8-41d1-9356-a009787bd944</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: c.mosci.news</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X2PL288BYD</string>
				<key>name</key>
				<string>Maro Global Information Technology Co., Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
